---
layout: page
title: About us
icon: lab
permalink: /about-us/
order: 4
---

<div class="ui container">
<div class="ui hidden divider"></div>
  <div class="ui vertical segment">
  <h1 class="ui header">
    What are Liberis Labs&hellip;?
    <div class="sub header">Who we are and what we do</div>
  </h1>

  <p>Liberis Labs are the development team at Liberis Business Finance (part of the BC Group).<br /> We exist to create, build and deliver the technology that powers one of the UK's leading business finance providers&hellip; <br />&hellip;but we live to write awesome code, use leading edge technology and enjoy life at the front of Nottingham's FinTech revolution.</p>
    <div class="ui hidden divider"></div>

  </div>

  <div class="ui vertical segment">
    
  <a href="{{site.liberis_url}}" target="_blank">
    <img src="{{ "/assets/about-us/liberis.png" | prepend: site.baseurl }}"class="ui medium bordered right floated image" >
  </a>


						<h1>Who are Liberis&hellip;?</h1>
						<p>&hellip;the business friendly finance company. And we believe in helping UK small businesses be successful.<br /><br />
							We’re doing our bit to bring a breath of fresh air to the industry, by helping to ensure the hard working SME market thrives by having access to the funds it needs. More than that, we’re doing it in a simple, no nonsense way.<br /><br />
							We’ve said goodbye to anything that’s not business friendly, like penalty charges, late fees and fixed monthly payments. Which means you can concentrate on running a successful business.<br /><br />
						</p>
            <div class="ui hidden divider"></div>

  </div>

  <div class="ui vertical segment">
    <a href="{{site.blenheim_chalcot_url}}">
      <img src="{{ "/assets/about-us/blenheim-chalcot.jpg" | prepend: site.baseurl }}" class="ui medium bordered right floated image">
  </a>
						<h1>Who are Blenheim Chalcot…?</h1>
						
						<p>Blenheim Chalcot traces its roots back to netdecisions, the internet services group founded in 1998. Back then, we set out to create companies that could transform industry sectors.</p>
						<p>We have since built over 40 businesses in a variety of sectors, including IT services and outsourcing, financial services, education, travel, software, sport and media. Today, our companies have sales of over £350m and employ in excess of 3000 people. Working with entrepreneurs and co-founders, we continue to create and build businesses in these sectors, often from the ground up.</p>
						<p>We have developed a number of principles that determine the businesses and industries we engage in. We look for high growth, potentially large industry sectors, typically undergoing some market, technology or regulatory discontinuity, where we can build scalable platforms that satisfy a significant customer need, resulting in strong and sustainable margins.</p>
						<p>We also have a proven approach to developing companies and their teams. We think of them as our building blocks of successful growth companies, combining agile strategy, disciplined governance, processes and financial management, all underpinned by agile leaders and teams.</p>
						<p>In order to support our businesses, particularly in their earlier stages of growth and as they scale, Blenheim Chalcot also provides a range of Venture Builder services, covering technology, marketing and sales, talent acquisition management, talent development, community, recruitment, accounting, legal and property. This combination of great teams, a supportive environment and continual innovation helps us create established leaders in their fields.</p>
</div>

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

  </div>

{% include twitter-segment.html %}

{% include simple-open-awesome-segment.html %}

<div class="ui clearing vertical segment">
  <div class="ui container">

  <img class="ui medium bordered left floated image" src="{{ "/assets/about-us/liberis-labs.png" | prepend: site.baseurl }}">

  <p>Liberis Labs is the technology behind Liberis, so we can't and won't comment on the products or practices of the main business, but it would be irresponsible of us not to mention a little bit about responsible lending.</p>

  <h4>Our commitment</h4>
<p>We are committed to lending in a responsible way, because in short, it’s the right thing to do. 
As the customer is at the heart of what we do, we’ve designed our products to be as transparent as possible to help them make informed choices. We’re always at hand to answer any questions (and put anything needed in writing too). 
Whilst the Business Cash Advance industry is not currently regulated, we take our responsibilities as a financial lender very seriously.<br />
If you have any questions about the products provided by Liberis, <a href="{{site.liberis_url}}" target="_blank">please visit liberis.co.uk</a></p>

  </div>
</div>

<div class="ui hidden divider"></div>
