---
layout: page
title: Blog
icon: comments
permalink: /blog/
order: 2
---
<div class="ui vertical segment container">
  <div class="ui stackable two column grid padded">
     <div class="eleven wide column">
        <div class="ui clearing segment">
          <img class="ui fluid image" src="semantic/dist/themes/liberis/assets/images/350x150.png" height="100">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <a class="ui right floated large primary button" href="blog-post.html">Read More</a>
        </div>

        <div class="ui clearing segment">
          <img class="ui fluid image" src="semantic/dist/themes/liberis/assets/images/350x150.png" height="100">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <a class="ui right floated large primary button" href="blog-post.html">Read More</a>
        </div>

        <div class="ui clearing segment">
          <img class="ui fluid image" src="semantic/dist/themes/liberis/assets/images/350x150.png" height="100">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <a class="ui right floated large primary button" href="blog-post.html">Read More</a>
        </div>

        <div class="ui clearing segment">
          <img class="ui fluid image" src="semantic/dist/themes/liberis/assets/images/350x150.png" height="100">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <a class="ui right floated large primary button" href="blog-post.html">Read More</a>
        </div>

        <div class="ui clearing segment">
          <img class="ui fluid image" src="semantic/dist/themes/liberis/assets/images/350x150.png" height="100">
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          <a class="ui right floated large primary button" href="blog-post.html">Read More</a>
        </div>
        <div class="ui right floated pagination menu">

          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="{{ site.baseurl }}/blog">
            {% else %}
            <a href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">
            {% endif %}
          {% else %}
          <a class="item disabled">
          {% endif %}
            <i class="chevron circle left icon"></i>
          </a>

          <a class="active item">
            1
          </a>
          <a class="item disabled">
            2
          </a>
          <a class="item disabled">
            3
          </a>
          <a class="item disabled">
            4
          </a>
          <a class="item disabled">
            5
          </a>

          {% if paginator.next_page %}
          <a href="{{ site.baseurl }}/{{ site.paginate_path | replace: ':num', paginator.next_page }}">
          {% else %}
          <a class="item disabled">
          {% endif %}
            <i class="chevron circle right icon"></i>
          </a>

        </div>
     </div>
     <div class="five wide column">
        <div class="column">
           <div class="ui bottom padded attached segment">
           <h4 class="ui top header">Search Blog</h4>
           <div class="ui divider"></div>
              <div class="ui fluid category search">
                 <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search blog...">
                    <i class="search icon"></i>
                 </div>
                 <div class="results"></div>
              </div>
           </div>
        </div>
        <div class="ui padded segment">
           <h4 class="ui top header">Blog Categories</h4>
           <div class="ui divider"></div>
           <div class="ui relaxed divided list">
              <div class="item">
                 <div class="content">
                    <div class="header">
                      <a href="#">Category Name</a>
                    </div>
                 </div>
              </div>
              <div class="item">
                 <div class="content">
                    <div class="header">
                      <a href="#">Category Name</a>
                    </div>
                 </div>
              </div>
              <div class="item">
                 <div class="content">
                    <div class="header">
                      <a href="#">Category Name</a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>