---
layout: page
title: Careers
icon: code
permalink: /careers/
order: 4
---


<div class="ui text container">
<div class="ui hidden divider"></div>
<h1 class="ui header">
    Careers at Liberis Labs
</h1>

<form class="ui form">
  <div class="field">
  <label>Job Type</label>
    <select id="job-types" class="ui dropdown">
      <option value="">All</option>
      {% assign types = site.jobs | group_by: 'type' | map: 'name' %}
  	  {% for type in types %}
      <option value="{{type}}">{{type}}</option>
  	  {% endfor %}
    </select>
  </div>
</form>
<div class="ui divider"></div>
<div class="ui basic segment">
  <div class="ui relaxed divided list">
  	{% for job in site.jobs %}
    <div class="item" data-job-type="{{job.type}}">
        <i class="large {{job.job_icon}} middle aligned icon"></i>
        <div class="content">
           <a class="header" href="{{job.url | prepend: site.baseurl }}">{{job.job_title}}</a>
           <div class="description">{{job.location}}</div>
        </div>
    </div>
  	{% endfor %}
</div>

</div>
</div>