---
layout: default
title: Home
icon: lab
permalink: /
order: 1
---

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="right item">
                <a href="#">
                    <img src="semantic/dist/themes/liberis/assets/images/liberis-labs-logo.png" alt="Liberis Labs Logo">
                </a>
            </div>
        </div>
    </div>
    <div class="ui text container">
        <div id="beaker">
            <img src="semantic/dist/themes/liberis/assets/images/flower.png" id="logo-flower">
            <img src="semantic/dist/themes/liberis/assets/images/liquid.png" id="logo-liquid">
            <div id="bubbles">
                <span class="bubble"></span>
                <span class="bubble1"></span>
                <span class="bubble2"></span>
                <span class="bubble3"></span>
                <span class="bubble4"></span>
            </div>
            <img src="semantic/src/themes/liberis/assets/images/logo-base.png" id="logo-base">
        </div>
        <h2>Simple...Open...Awesome</h2>
        <div class="ui huge primary button" id="heroBtn">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe homecontent segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">We Help Companies and Companions</h3>
                <p>At Liberis Labs we are building a cutting edge ecosystem that enables small businesses to gain easy access to finance...</p>
                <h3 class="ui header">Powering Small Business</h3>
                <p>As the technological engine behind <a href="http://www.liberis.co.uk">Liberis</a>, Liberis Labs is a group of the midlands top developers using the worlds leading technology to create the industries leading small business lending platform</p>
            </div>
            <div class="six wide right floated column">
                <a href="http://www.liberis.co.uk"><img src="semantic/dist/themes/liberis/assets/images/Capture.png"  class="ui large bordered rounded image"></a>
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button">Check Them Out</a>
            </div>
        </div>
    </div>
</div>


{% include twitter-segment.html %}

{% include simple-open-awesome-segment.html %}

{% include blog-preview-segment.html %}
