---
layout: page
title: Meet the Team
icon: users
permalink: /meet-the-team/
order: 3
---

<div class="ui container">
<div class="ui hidden divider"></div>
 <h1 class="ui header">
    Header
    <div class="sub header">Sub Header</div>
  </h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, vel, officiis! Ex nam a, deleniti veniam, quod iure laudantium, cum porro officiis ullam libero ipsa temporibus dolor quasi unde commodi!</p>

  <div class="ui divider"></div>
</div>

<div class="ui vertical segment">

  <div class="ui grid container">

    <div class="row">

      <div class="ui four doubling cards">

        {% for member in site.data.team %}

        <div class="card">
          <div class="image">
            <img src="{{ member.image | prepend: site.baseurl }}">
          </div>
          <div class="content">
            <div class="header">{{ member.name }}</div>
            <div class="meta">
              <a>{{ member.role }}</a>
            </div>
            <div class="description">
              {{ member.description }}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              
              {% if member.github %}
              <a href="http://github.com/{{ member.github }}">
                <i class="github square icon"></i>
              </a>
              {% endif %}

              {% if member.twitter %}
              <a href="http://twitter.com/{{ member.twitter }}">
                <i class="twitter square icon"></i>
              </a>
              {% endif %}


              {% if member.facebook %}
              <a href="http://fb.com/{{ member.facebook }}">
                <i class="facebook square icon"></i>
              </a>
              {% endif %}

              {% if member.website %}
              <a href="{{ member.website }}">
                <i class="world icon"></i>
              </a>
              {% endif %}

            </span>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>

    <div class="ui divider"></div>

  </div>
</div>
