---
layout: page
title: Meet the Team
icon: users
permalink: /meet-the-team/
order: 3
---

<div class="ui container">
<div class="ui hidden divider"></div>
 <h1 class="ui header">
    Who are behind Liberis Labs?
    <div class="sub header">These are the guys behind liberis labs</div>
  </h1>

  <div class="ui divider"></div>
</div>

<div class="ui vertical segment">

  <div class="ui grid container">

    <div class="row">

      <div class="ui four doubling cards">

        {% for member in site.data.team %}
        {% include member-card.html member=member %}
        {% endfor %}

      </div>
    </div>

    <div class="ui divider"></div>

  </div>
</div>
