<footer class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="sixteen wide column">
            <h4 class="ui inverted header">Where you can find us</h4>
            <div class="ui doubling seven column grid">
                <div class="column"></div>
                <div class="column"><a href="https://bitbucket.org/LiberisFinance/" target="_blank"><i class="bitbucket icon"></i></a></div>
                <div class="column"><a href="https://github.com/LiberisLabs" target="_blank"><i class="github icon"></i></a></div>
                <div class="column"><a href="https://www.linkedin.com/company/liberis-uk" target="_blank"><i class="linkedin square icon"></i></a></div>
                <div class="column"><a href="http://careers.stackoverflow.com/company/liberis" target="_blank"><i class="stack overflow icon"></i></a></div>
                <div class="column"><a href="https://twitter.com/liberislabs" target="_blank"><i class="twitter icon"></i></a></div>
                <div class="column"></div>
            </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="semantic/dist/themes/liberis/assets/images/liberis-labs-logo.png" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        {% for page in pages %}
          {% if page.title %}
          <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

      <p>Copyright &copy; {{ site.time | date: '%Y' }}, {{ site.title }}. All rights reserved.</p>

    </div>  
</footer>