{% assign member = include.member %}
<div class="card">
  <div class="image">
    {% if member.image %}
    <img src="{{ member.image | prepend: site.baseurl }}">
    {% else %}
    <img src="//www.gravatar.com/avatar/{{ member.emailMd5 }}?s=273">
    {% endif %}
  </div>
  <div class="content">
    <div class="header">{{ member.name }}</div>
    <div class="meta">
      <a>{{ member.role }}</a>
    </div>
    <div class="description">
      {{ member.description }}
    </div>
  </div>
  <div class="extra content">
    <span class="right floated">
      
      {% if member.github %}
      <a href="http://github.com/{{ member.github }}" target="_blank">
        <i class="github square icon"></i>
      </a>
      {% endif %}

      {% if member.bitbucket %}
      <a href="http://bitbucket.org/{{ member.bitbucket }}" target="_blank">
        <i class="bitbucket square icon"></i>
      </a>
      {% endif %}

      {% if member.stackoverflow %}
      <a href="http://stackoverflow.com/users/{{ member.stackoverflow }}" target="_blank">
        <i class="stack overflow icon"></i>
      </a>
      {% endif %}

      {% if member.flickr %}
      <a href="http://flickr.com/{{ member.flickr }}" target="_blank">
        <i class="flickr icon"></i>
      </a>
      {% endif %}

      {% if member.linkedin %}
      <a href="https://uk.linkedin.com/in/{{ member.linkedin }}" target="_blank">
        <i class="linkedin square icon"></i>
      </a>
      {% endif %}

      {% if member.twitter %}
      <a href="http://twitter.com/{{ member.twitter }}" target="_blank">
        <i class="twitter square icon"></i>
      </a>
      {% endif %}

      {% if member.facebook %}
      <a href="http://fb.com/{{ member.facebook }}" target="_blank">
        <i class="facebook square icon"></i>
      </a>
      {% endif %}

      {% if member.website %}
      <a href="{{ member.website }}" target="_blank">
        <i class="world icon"></i>
      </a>
      {% endif %}

    </span>
  </div>
</div>
