<div class="ui stripe segment container">
    <div class="ui three column very relaxed grid">
        <div class="column">
            <h3 class="ui header">We keep it simple</h3>
            <p>Simple is very hard to achieve, but through rigorous separation of concerns, a gazillion micro-services each focussed on their own jobs, and 100% test coverage across all our units and systems, simple is what what we get.</p>
        </div>
        <div class="ui vertical divider">
            and
        </div>
        <div class="column">
             <h3 class="ui header">We're pretty open</h3>
			<p> Some of the stuff we do is secret, but a lot isn't. Just as we pull from the Open Source Community to build our systems, we like to <a href="https://github.com/liberislabs/">share the awesome stuff we do</a>, expecially when we are building sweet services around other peoples software. Sharing is Caring</p>
        </div>
        <div class="ui vertical divider">
            and
        </div>
        <div class="column">
            <h3 class="ui header">We build awesome</h3>
            <p>Awesome is the default setting at Liberis Labs and nothing less is expected. This is reflected in the code we write, the applications we create, the team lunches we enjoy or the banter</p>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>