<div class="ui stripe segment container">
    <div class="ui three column very relaxed grid">
        <div class="column">
            <h3 class="ui header">We build awesome applications</h3>
            <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        </div>
        <div class="ui vertical divider">
            and
        </div>
        <div class="column">
            <h3 class="ui header">Write exceptional code</h3>
            <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        </div>
        <div class="ui vertical divider">
            and
        </div>
        <div class="column">
            <h3 class="ui header">Deliver results on time</h3>
            <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>