
<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="black column masthead">
                <div class="hole">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <h3><i class="twitter icon"></i></h3>

                <p class="quotes">great session with @Fur_bi on machine learning with microft azure #datainnovators, don't be haters, laters....</p>
                <p class="quotes">Awesome talk on @NServiceBus from our very own @kev_bite at .NET Manchester this evening! </p>
                <p class="quotes">Morning planing within the labs!</p>
                <p class="quotes">Dont you wish that @mtproj & @mongodb would just get along? Well now they do thanks to this handy package https://github.com/LiberisLabs/MassTransit.MongoDb …. Check it!</p>

                <h5>About 3 days ago</h5>

                <a href="https://twitter.com/liberislabs" target="_blank">@liberisLabs</a>
            </div>
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
